.vscode/**
.claude/**
.cocoindex_code/**
src/**
.gitignore
esbuild.js
tsconfig.json
opencode.json
**/*.map
**/.eslintrc*
node_modules/**
*.vsix
*.abrq
*.abenv
*.abf
*.abl
*.ablog
*.opencollection
albert-stack/**
